.container {
  display: grid;
  grid-template-areas: 'label-text input input input input' 'empty error-message error-message error-message error-message';
  grid-template-columns: repeat(5, 1fr);
}

.label {
  margin: 1rem 0;
}

.labelText {
  grid-area: label-text;
}

.error {
  background-color: #ffc3c3;
  border: 1px solid #9a0202;
  border-radius: 3px;
  color: #9a0202;
  font-size: 0.75rem;
  grid-area: error-message;
  margin: 0.4rem 0;
  padding: 0.3rem;
}

@media (max-width: 720px) {
  .container {
    grid-template-areas: 'label-text' 'input' 'error-message';
    grid-template-columns: repeat(1, 1fr);
  }
}
