.name {
  font-size: xx-large;
}

.location {
  font-size: large;
}

.links {
  margin: auto;
  font-size: x-large;
  justify-content: space-around;
  display: flex;
  max-width: 0;
}

.links a {
  margin: 0 1em;
}

.links svg {
  color: #1c2321;
}
