.input {
  background-color: #eee;
  border: 2px solid #8fb5db;
  border-radius: 3px;
  grid-area: input;
  min-height: 1.5rem;
  min-width: 15rem;
  padding: 0.2rem 0.7rem;
}

@media (max-width: 720px) {
  .input {
    margin-top: 0.5rem;
    min-width: 0;
  }
}
