.skill {
  align-items: center;
  background-color: #247ba0;
  border-radius: 5px;
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.15);
  color: #fff;
  display: flex;
  margin: 10px;
  max-height: 1rem;
  padding: 0.5em;
}

.skill span {
  flex: 1 0 auto;
  margin-right: 0.5em;
}

.skills {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.skillIcon {
  height: 1rem;
  width: 1rem;
}
