.main {
  display: grid;
  grid-area: story;
  grid-template-columns: repeat(1, 1fr);
  gap: 4em;
  margin: 3em 2em;
  grid-template-areas:
    'skills'
    'experience'
    'studies';
}

.personalInformation {
  grid-area: personal-information;
  position: sticky;
  top: 0;
  height: fit-content;
  padding: 10px;
  text-align: center;
}

@media (max-width: 720px) {
  .personalInformation {
    position: relative;
    margin: auto;
  }
}

.stickyNote {
  padding: 2em;
  border-radius: 3px;
  box-shadow: 12px 34px 54px -21px rgba(0, 0, 0, 0.3);
  top: 2em;
}

.skills {
  composes: stickyNote;
  grid-area: skills;
  transform: rotate(1.5deg);
  background-color: #f3ffbd;
}
.skills::after {
  background: linear-gradient(rgba(255, 255, 255, 0.001), white);
}

.experience {
  composes: stickyNote;
  grid-area: experience;
  background-color: #b2dbbf;
  transform: rotate(-1deg);
}

.studies {
  composes: stickyNote;
  grid-area: studies;
  background-color: #70c1b3;
  transform: rotate(2deg);
}
