.main {
  display: grid;
  gap: 4em;
  grid-area: story;
  grid-template-areas:
    'skills'
    'experience'
    'studies'
    'contact';
  grid-template-columns: repeat(1, 1fr);
  margin: 3em 2em;
}

.personalInformation {
  grid-area: personal-information;
  height: fit-content;
  padding: 10px;
  position: sticky;
  text-align: center;
  top: 0;
}

@media (max-width: 720px) {
  .personalInformation {
    margin: auto;
    position: relative;
  }
  .stickyNote p {
    margin: 0em;
  }
  .stickyNote section {
    margin: 0em;
  }
}

.stickyNote {
  border-radius: 3px;
  box-shadow: 30px 30px 15px -15px rgba(0, 0, 0, 0.1);
  padding: 2em;
  top: 2em;
  max-width: calc(65ch + 6rem);
}

.skills {
  composes: stickyNote;

  background-color: #f3ffbd;
  grid-area: skills;
  transform: rotate(1.5deg);
}

.skills::after {
  background: linear-gradient(rgba(255, 255, 255, 0.001), white);
}

.experience {
  composes: stickyNote;

  background-color: #b2dbbf;
  grid-area: experience;
  transform: rotate(-1deg);
}

.studies {
  composes: stickyNote;

  background-color: #70c1b3;
  grid-area: studies;
  transform: rotate(1deg);
}

.contact {
  composes: stickyNote;

  background-color: #a2c5e5;
  grid-area: contact;
  transform: rotate(-0.5deg);
}
