.form {
  align-content: center;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  max-width: 45ch;
  width: 100%;
}

.message {
  background-color: #c7ffc3;
  border: 1px solid #007705;
  border-radius: 3px;
  color: #007705;
  font-size: 0.75rem;
  margin: 0.4rem 0;
  padding: 0.6rem;
}

.submitContainer {
  align-content: stretch;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-end;
}
