@font-face {
	font-family: 'Inter';
	src: url('https://fonts.googleapis.com/css2?family=Inter&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
		format('woff');
	font-style: normal;
}

@font-face {
	font-family: Mondwest;
	font-weight: 400;
	src: url('/fonts/PPMondwest-Regular.otf');
	font-style: normal;
}

@font-face {
	font-family: NeueBit;
	font-weight: 700;
	src: url('/fonts/PPNeueBit-Bold.otf');
	font-style: normal;
}

body {
	font-family: 'Inter';
	margin: 0;
}
