.container {
  display: grid;
  grid-template-areas: 'personal-information story story';
  grid-template-columns: repeat(3, 1fr);
}

@media (min-width: 1400px) {
  .container {
    grid-template-areas: 'left-corridor personal-information personal-information story story story story right-corridor';
    grid-template-columns: repeat(8, 1fr);
  }
}

@media (max-width: 720px) {
  .container {
    grid-template-areas: 'personal-information' 'story';
    grid-template-columns: repeat(1, 1fr);
  }
}
